
img{
	opacity: .5;
}

form{
	transition: all 4s ease-in-out;
}

.login {
	width: 310px;
	margin-top: 18%;
	margin-left: 35%;
	opacity: .1;
}

.login h3{
	text-align: center;
	position: relative;
	top :-200px;
	font-size: 24px;
	color: #969696;
	margin-top:20px;
    margin-bottom: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	transition: all 4s ease-in-out;
	margin-bottom: 25px;
}
.login div {
	position: relative;
}
.in-left{
	left: -900px;
	transition: all 4s ease-in-out;
}
.in-right{
	right: -900px;
	transition: all 4s ease-in-out;
}
.inputs{
	position: relative;
	bottom: -400px;
	transition: all 4s ease-in-out;
}
.login div i {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	color: #969696;
	right: 4px;
}
.login .inputt{
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-radius: 4px;
	height: 35px;
	font-size: 15px;
	border: 1px solid #ccc;
	margin: 7px 0px;
	padding: 5px;
	background-color: #dadada;
}
.login .inputt:focus{
box-shadow: 0px 0px 3px  #337ab7;
}
.login .inputs{
	box-sizing: border-box;
	display: block;
	margin: 7px 0px;
	width: 100%;
	border-radius: 4px;
	height: 35px;
	padding: 5px;
	font-size: 15px;
	border: 1px solid #ccc;
	background-color:#337ab7 ;
	color: white;
}
.login .inputs:hover{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn{
	padding: 10px 20px;
	background: #f4f4f2;
}

.btn:hover{
	background: #e4e4e2;
}

a.btn{
	text-align: center;
	text-decoration: none;
}
.popupBody{
	top: 7%;
	position: absolute;
	padding: 20px;
	width: 40%;
	height: auto;
}

.EditPOP{
	top: 7%;
	right: 7%;
	position: absolute;
	padding: 20px;
	width: 40%;
	height: auto;
}

pEdit{
	display: none;
	height: 50%;
	overflow-y: auto;
}
.pEdit label{
	left: 0%;
	display: block;
	margin-bottom: 5px;
}
.pEdit input[type="text"]{
	display: block;
	width: 90%;
	padding: 10px;
	border: 1px solid #DDD;
	color: #666;
}
.pEdit input[type="file"]{
	display: block;
	width: 90%;
	padding: 10px;
	height: auto;
	border: 1px solid #ddd;
}
.ebtn{
	padding: 10px 20px;
	background: #f4f4f2;
}

.ebtn:hover{
	background: #e4e4e2;
}

a.ebtn{
	text-align: center;
	text-decoration: none;
}


.ebtnAction{
	clear: both;
	overflow: hidden;
}

.ebtnAction a{
	display: block;
}
.ebtnLeft{
	width: 50%;
	display: block;
	float: left;
}

.ebtnLeft.ebtnRight{
	width: 45%;
	margin-left: 5%;
}

.pAdd{
	display: none;
	height: 50%;
	overflow-y: auto;
}
.pAdd label{
	display: block;
	margin-bottom: 5px;
}
.pAdd input[type="text"]{
	display: block;
	width: 90%;
	padding: 10px;
	border: 1px solid #DDD;
	color: #666;
}
.pAdd input[type="file"]{
	display: block;
	width: 90%;
	padding: 10px;
	height: auto;
	border: 1px solid #ddd;
}

.btnAction{
	clear: both;
	overflow: hidden;
}

.btnAction a{
	display: block;
}
.btnLeft{
	width: 50%;
	display: block;
	float: left;
}

.btnLeft.btnRight{
	width: 45%;
	margin-left: 5%;
}



.managetable{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.managetable td {
	border: 1px solid #c1c1c1;
	padding: 8px;
	font-size: 17px;
	font-weight: 400;
	display: none;
}
.managetable tr{
	background-color: white;
}
.managetable tr:first-child{
	background-color: #34495e; 
	color: white;
}
.managetable td a {
	width: 90px;

}

.con {
    width: 1170px;
    margin: auto;
	box-sizing: border-box;
}
.OFlow{
	margin-top: 0.5%;
	width: 1170px;
	height: 500px;
	margin: auto;
	box-sizing: border-box;
	/*overflow-y: scroll;*/
	
}
.fbody{
	overflow: auto;
}
.converttobtn{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 0px;
	border-radius: 4px;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid transparent ;
	transition: all 3s ease-in-out;
	}
	
.BlueButton:hover{
	border: 1px solid #34495e ;
	background-color: #286090;
}
.BlueButton{
	background-color: #337ab7;
}
.GreenButton{
	background-color: #5cb85c;
}
.GreenButton:hover{
background-color: #449d44;
}
.RedButton{
	background-color: #d9534f;
}
.RedButton:hover{
	background-color: #c9302c;
}

.tit{
	font-size: 45px;
	margin: 20px auto;
	text-align: center;
    color: #34495e;
}

.managetable tr:nth-child(even){
	background-color: #eee;
}
.clear{
	clear: both;
}
.tazbit1{
	margin: 20px 0px;
	position: relative;
	left: -150%;
	transition: all 3s ease-in-out;
}
.tazbit2{
	margin: 20px 0px;
	position: relative;
	right: -150%;
	transition: all 3s ease-in-out;
}
.quarter{
	width: 25%;
	box-sizing: border-box;
	float: left;
	padding: 0px 15px;
	position: relative;
}
.half{
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 0px 15px;
}

.org{
	background-color: #e67e22;
}
.vilot{
	background-color: #9b59b6;
}
.sky{
	background-color: #3498db;
}
.gray{
	background-color: #7f8c8d;
}
/* Start style Dashboard*/
#HoldBodyContent{
	margin-top: 7%;
}

.stat{
	text-align: center;
	font-size: 20px;
	box-sizing: border-box;
	padding: 15px 20px;
	border-radius: 25px 0px 25px 0px ;
	color: white;
	position: relative;
	display: none;
	transition: margin-top .4s ease-in-out
}
.stat:hover{
	margin-top: -5px;
}
.stat div{
	margin-left: 30%;
}

.stat i {
    position: absolute;
    font-size: 75px;
    left: 6%;
    top: 17%;
}
.stat a{
	display: block;
	font-size: 50px;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
}
.link{
	cursor: pointer;
}
.Number{
	cursor: text;
	box-sizing: border-box;	
}
.headpan{
	text-align: center;
	font-size: 17px;
	box-sizing: border-box;
	padding: 15px;
	background-color: #DDD;	
}

.bodypan{
	text-align: center;
	font-size: 17px;
	box-sizing: border-box;
	background-color: white;	
}

.latest-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.latest-list .latest-table{
	width: 100%;
	position: relative;
}
.latest-list li{
	padding: 0px 5px;
}
.latest-list li:nth-child(even) {
	background-color: #e4e1e1;
}
.latest-list li:first-child{
	background-color: #34495e;
	color: white;	
}
.latest-list .latest-table td{
	width: 25%;
	text-align: left;
	padding: 8px 0px;
}
.latest-list .latest-table td a{
	display: block;
	width: 100%;
	text-decoration: none;
}

.mnav{
    background-color: #34495e;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.con:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#OOflow{
	margin-top: 5%;
}

.con {
    width: 1170px;
    margin: auto;
	box-sizing: border-box;
}
.lnav, .rnav{
	padding-left: 8px;
}
.rnav {
	float: right;
	list-style: none;
}
.lul, .rul {
    padding: 0;
    list-style: none;
}
.lul li {
	display: inline-block;
	float: left;
	margin: 10px 14px;
}

.lul li a{/*left ul il a*/
	display: block;
	color: #ddd;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 17px;
	line-height: 34px;
}
.lul li a:hover{/*left ul il a*/
	color: white;
}


.rli {
	display: block;
	position: relative;
	float: left;

}
.rli:hover, .rli:active{
	background-color: #1abc9c;
}
.rli a{
	width: 100px;
	height: 60px;
	display: block;
	padding-top: 10px;
	box-sizing: border-box;
	text-align: center;
	color: #ddd;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 17px;
	line-height: 34px;
}
.rul{/*left ul */
	position: absolute;
	display: none;
	padding: 0px;
	right: 0;
    z-index: 1000;
    min-width: 175px;
    font-size: 15px;
    text-align: left;
    border : 1px solid #a5a5a5;
    background-color: #fff;
    box-shadow: 0px 0px 4px #949494;
}
.rul li{/*left ul il*/
	padding: 0;
	margin:0;
}
.rul li a{/*right ul il a*/
	width: 100%;
	display: block;
	color: black;
	text-align: left;
	padding-left: 8px;
	font-size: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	transition: all .2s linear;
}
.rul li a:hover{/*right ul il a*/
	color: white;
	background-color: #1abc9c;
	padding-left: 15px;
}
.show{/*toggle class for drop list*/
	display: block;
}
.toy{
	margin-left: 2px;
	display: inline-block;
	vertical-align: middle;
	border-top:6px solid #DDD;
	border-right:6px solid transparent;
	border-left:6px solid transparent;
	border-bottom:0px solid black; 

}

/* END navbar admin pag style */