ul li{
     text-decoration: none;
    margin-bottom:3%;
    display:block;
}


.signIn{
    position:absolute;
    margin-left:40%;
    width:15%;
    border-radius:3px;
    border-color:#000000;
    border-style: outset;
    display:none;
    z-index: 2;
        
}

.logIn {
  background: #000000;
  color:white;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
    width:100%;  } 

