td{
    width: 500px;
}
tr{
    height: 100px;
}
a{
	text-decoration: none;
}
.textbox{
    width: 400px;
    height: 50px;
    border-radius: 4.5px;
    border-style: solid;
    border-width: thin;
    border-color: #8C8C8C;
    font-size: 20px;
}
.checkbox{
    width: 25px;
    height: 25px;
}
.saveButton{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-color: #8C8C8C;
    background-color: #000000;
    color: #8C8C8C;
    
}
.regButton{
    margin-left: 37%;
}
#req{
    padding: 10%;
    display: inline;
}

.listItem{
    transition-property: all;
    transition-duration: 0.5s;
    color: black;
    background-color: #EEEEEE;
    min-width: 270px;
    max-width: 270px;
    height: 20px;
    padding-left: 10px;
    text-decoration: none;
}

.listItem:hover{
    color: #8C8C8C;
    background-color: black;
    padding: 15px;
    min-width: 100px;
}
.align{
    display: inline;
    vertical-align:super;
}
table{
    margin-left: 10%;
    table-layout: fixed;
}
.tableBorder{
    border-left: 2px solid #000000;
    
}
