body {


 cursor:url(        http://downloads.totallyfreecursors.com/thumbnails/lpskredg-lipstickredglitter.gif
        ) , auto;
    

        
 /*cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;*/
}

a:hover


{
 cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;
}

button:hover


{
 cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    display: none;
}

.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 48%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-lg-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.row:after {
    width:100%;
    content: "";
    display: table;
    clear: both;
}


	
.table{
float:left;
  width: 75%;


}

.container{
	display:block;
	margin-right:5%;
	margin-left:5%;
	
	