body {


 cursor:url(        http://downloads.totallyfreecursors.com/thumbnails/lpskredg-lipstickredglitter.gif
        ) , auto;
    

        
 /*cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;*/
}

a:hover


{
 cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;
}

button:hover


{
 cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;
}