

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');



*
{
	margin: 0;
	padding: 0;
}
body
{
	
 cursor:url(        http://downloads.totallyfreecursors.com/thumbnails/lpskredg-lipstickredglitter.gif
        ) , auto;
    
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #FFFFFF;
	color: #1e1e27;
}

a:hover


{
 cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;
}

button:hover


{
 cursor:url(http://downloads.totallyfreecursors.com/thumbnails/lipstickpinkglitter.gif), auto;
}

div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 500;
	color: #51545f;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p::selection
{
	background: #fde0db;
}

h1{font-size: 72px;}
h4{font-size: 24px;}
h1, h4
{
	font-family: 'Poppins', sans-serif;
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}



.newsletter
{
	width: 100%;
	background: #f2f2f2;
	margin-top: 81px;
}
.newsletter_text
{
	height: 120px;
}
.newsletter_text h4
{
	margin-bottom: 0px;
	line-height: 24px;
}
.newsletter_text p
{
	margin-bottom: 0px;
	line-height: 1.7;
	color: #51545f;
}
.newsletter_form
{
	height: 120px;
}
#newsletter_email
{
	width: 300px;
	height: 46px;
	background: #FFFFFF;
	border: none;
	font-size: 14px;
	padding-left: 20px;
}

.newsletter_submit_btn
{
	width: 160px;
	height: 46px;
	border: none;
	background: #000000;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}
.newsletter_submit_btn:hover
{
	background: #FE7C7F;
}

#newsletter_email:focus
{
	border: solid 1px #7f7f7f !important;
	box-shadow: none !important;
}



.breadcrumbs
{
	width: 100%;
	height: 60px;
	border-bottom: solid 1px #ebebeb;
	margin-bottom: 79px;
}
.breadcrumbs ul li
{
	display: inline-block;
	margin-right: 17px;
}
.breadcrumbs ul li.active a
{
	color: #b9b4c7;
}
.breadcrumbs ul li i
{
	margin-right: 17px;
}
.breadcrumbs ul li a
{
	color: #51545f;
}



.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}



#backtotop {
  display: inline-block;
  background-color: #000000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
}
#backtotop:hover {
  cursor: pointer;
  background-color: #333;
}
#backtotop:active {
  background-color: #555;
}

#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

/* About , Contact */




#about_contact .contact_contents
{
	padding-right: 30px;
}
#about_contact .contact_contents h1,
#about_contact .follow_us_contents h1,
#about_contact .get_in_touch_contents h1
{
	font-size: 40px;
	font-weight: 500;
}
#about_contact .contact_contents p,
#about_contact .get_in_touch_contents p
{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0px;
}
#about_contact .contact_contents div
{
	margin-top: 22px;
}
#about_contact .contact_contents div:first-of-type
{
	margin-top: 39px;
}

#about_contact .follow_us_contents
{
	margin-top: 32px;
}
#about_contact .social
{
	margin-top: 20px;
}
#about_contact .social li
{
	margin-right: 12px;
}
#about_contact .social li:last-child
{
	margin-right: 0px;
}
#about_contact .social li a
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#about_contact .social li a i
{
	color: #FFFFFF;
}
#about_contact .social li:hover a
{
	transform: translateY(-5px);
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}


#about_contact .form_input
{
	display: block;
	width: 100%;
	height: 50px;
	border: solid 1px #e5e5e5;
	padding-left: 20px;
	font-size: 16px;
	margin-bottom: 20px;
}
#about_contact .input_message
{
	width: 100%;
	margin-bottom: 15px;
	font-size: 16px;
	padding-bottom: 15px;
}
#about_contact .form_input:focus,


#about_contact .message_submit_btn
{
	background: #1e1e27;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 165px;
	border: none;
	height: 46px;
	cursor: pointer;
}
#about_contact .message_submit_btn:hover
{
	background: #FE7C7F !important;
}

#about_contact textarea
{
	border: solid 1px #e5e5e5;
	padding-left: 20px;
	padding-top: 15px;
}

#about_contact textarea:hover
{
	border-color: #7f7f7f !important;
}

#about_contact .input_name
{
	margin-bottom: 19px;
	margin-top: 31px;
}

/* Cart , Order */

#cart_order  button {
  cursor: pointer;
}

#cart_order bar {
  padding: 60px 0;
}

#cart_order .no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#cart_order .form-control {
  border-radius: 0;
}


#cart_order .form-control:focus {
  border-color: #000000;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
}

#cart_order table {
  font-size: 0.9rem;
}

#cart_order table img {
  min-width: 50px !important;
  max-width: 50px !important;
  height: 50px;
}

#cart_order table input[type="number"] {
  max-width: 50px;
}

#cart_order .btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#cart_order .btn-template-outlined {
  background: none;
  border: 1px solid #000000!important;
  color: #000000;
  border-radius: 0 !important;
  text-decoration: none;
}

#cart_order .btn-template-outlined:hover, .btn-template-outlined:focus {
  background: #000000;
  color: #fff !important;
}

#cart_order .box {
  margin: 80px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

#cart_order .box a.btn {
  margin-top: 25px;
}

#cart_order .box .box-header {
  background: #f7f7f7;
  margin: 20px 0 20px;
  padding: 20px;
  border-top: 1px solid #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#cart_order .box .box-footer {
  background: #f7f7f7;
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #eee;
}

#cart_order .box-footer a {
  margin: 0 !important;
}

#cart_order .box-footer .right-col i {
  margin-left: 5px;
}

#cart_order .box-footer .left-col i {
  margin-right: 5px;
}

@media (max-width: 767px) {
 #cart_order  .box-footer {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
 #cart_order  .box-footer a {
    margin-bottom: 10px !important;
  }
}

#cart_order table tr td {
  vertical-align: middle !important;
}

#cart_order #basket thead th {
  border-top: none;
}

#cart_order #basket tfoot th {
  font-size: 1.25rem;
  color: #555;
}

#cart_order #order-summary tr td {
  color: #999;
}

#cart_order #order-summary tr.total {
  font-size: 1.25rem;
  color: #555;
  font-weight: 700;
}

#cart_order #order-summary tr.total td {
  color: #555;
}



#cart_order .btn {
  font-weight: 700;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#cart_order .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(79, 191, 168, 0.25);
}

#cart_order .btn:disabled {
  opacity: .65;
}

#cart_order .btn:not([disabled]):not(.disabled):active {
  background-image: none;
}

#cart_order .btn-secondary {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

#cart_order .btn-secondary:hover {
  color: #fff;
  background-color: #727b84;
  border-color: #6c757d;
}

#cart_order .btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
  box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
}

#cart_order .btn-secondary:disabled {
  background-color: #868e96;
  border-color: #868e96;
}

#cart_order .btn-secondary:active {
  background-color: #727b84;
  background-image: none;
  border-color: #6c757d;
}


#cart_order a {
  color: #000000;
  text-decoration: none;
}

#cart_order a:focus, a:hover {
  color: #212529;
  text-decoration: underline;
}

#cart_order .lead {
  font-size: 1.25rem;
  font-weight: 300;
  padding-top:1em;
}



#cart_order .nav-pills .nav-link {
  border-radius: 0;
}

#cart_order .nav-pills .nav-link:hover {
  background: #eee;
}

#cart_order .nav-pills .nav-link .active {
  background: #000000;
}


#cart_order .nav-link {
  padding: 0.5rem 1rem;
}

#cart_order .nav-link .disabled {
  color: #868e96;
}

#cart_order .nav-pills .nav-link {
  border-radius: 0;
}

#cart_order .nav-pills .nav-link.active {
  color: #fff;
  background-color: #000000;
}


#cart_order	.box {
  margin: 80px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}



#cart_order	#checkout .nav-pills {
  margin-bottom: 30px;
  border-bottom: 1px solid #000000;
}

#cart_order	#checkout .nav-pills a {
  font-size: 0.9rem;
  border-bottom: none !important;
}

#cart_order	#checkout .nav-pills a.disabled {
  cursor: not-allowed;
}

#cart_order	#checkout form label {
  margin-bottom: 5px;
}

#cart_order .btn-template-main:hover, .btn-template-main:focus {
  background: #FE7C7F;
  color: #fff !important;
  border-color: #FE7C7F !important;
}

/* Register and Account */

#register_account td{
    width: 500px;
}
#register_account tr{
    height: 100px;
}

#register_account .listItem{
    color: #000000;
    background: #EEEEEE;
    transition-property: all;
    transition-duration: 0.5s;
}

#register_account .listItem:hover{
    color: #FFFFFF;
    background-color: #000000;
}

#register_account .listItem a{
    color: #000000;
    transition-property: all;
    transition-duration: 0.5s;
    padding-left: 10px;
}
#register_account .listItem:hover a{
    color: #FFFFFF; 
    padding-left: 20px;
}
#register_account .textbox{
    width: 400px;
    height: 50px;
    border-radius: 4.5px;
    border-style: solid;
    border-width: thin;
    border-color: #8C8C8C;
    font-size: 20px;
}
#register_account .checkbox{
    width: 25px;
    height: 25px;
}
#register_account .saveButton{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-color: #8C8C8C;
    background-color: #000000;
    color: #8C8C8C;
}
#register_account .regButton{
    margin-left: 37%;
}
#register_account #req{
    padding: 10%;
    display: inline;
}
#register_account .align{
    display: inline;
    vertical-align:super;
}
#register_account table{
    margin-left: 10%;
    table-layout: fixed;
}

/*Address Book*/

#address_book tr{
    height: 100px;
}
#address_book td{
    width: 800px;
}
#address_book table{
    margin-left: 10%;
}
#address_book .listItem{
    color: #000000;
    background: #EEEEEE;
    transition-property: all;
    transition-duration: 0.5s;
}
#address_book .listItem:hover{
    color: #FFFFFF;
    background-color: #000000;
}

#address_book .listItem a{
    color: #000000;
    transition-property: all;
    transition-duration: 0.5s;
    padding-left: 10px;
}
#address_book .listItem:hover a{
    color: #FFFFFF; 
    padding-left: 20px;
}
#address_book .saveButton{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border-color: #8C8C8C;
    background-color: #000000;
    color: #8C8C8C;
}
#address_book .pad{
    padding-left: 10px;
}
/* Home */



#home .main_slider
{
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    width:inherit;
  
	
}

#home .banner
{
	width: 100%;
	margin-top:1%;
}
#home .banner_item
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	height: 265px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    
}
#home .banner_category
{
    
	height: 50px;
	background: #FFFFFF;
    margin-top: 20%;
    margin-left: 20%;
    width:50%;
}
#home .banner_category a
{
	display: block;
	color: #1e1e27;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	line-height: 50px;

	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
#home .banner_category a:hover
{
	color: #b5aec4;
}

#home .col{
  
    display: inline-block;
    width:33.3%;
}


#home #slider{
    position: relative; 
    width: 100%; 
     height:auto;
    min-height:900px;
    padding: 10px; 
 
}

#home #slider > div { 
    position: absolute; 
    top: 10px;  
    right: 5px; 
    bottom :10px;
}

/* Product */
#product .cart_button
{
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 40px;
	background: #000000;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#product .cart_button:hover
{
	background: #FE7C7F !important;
}
#product .cart_button a
{
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
}

#product .single_product_container
{
	margin-top: 150px;
	padding-bottom: 80px;
	border-bottom: solid 1px #ebebeb;
}
#product .single_product_thumbnails
{
	height: 527px;
}
#product .single_product_thumbnails ul li
{
	position: relative;
	height:inherit;
	margin-bottom: 30px;
	cursor: pointer;
}
#product .single_product_thumbnails ul li::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 1px #000000;
	content: '';
	visibility: hidden;
}
#product .single_product_thumbnails ul li.active::after,
#product .single_product_thumbnails ul li:hover::after
{
	visibility: visible;
}
#product .single_product_thumbnails ul li img
{
	width: 100%;
}
#product .image_col
{
	padding-right: 30px;
}
#product .single_product_image
{
	width: 100%;
	height: 527px;
}
#product .single_product_image_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


#product .product_details
{
	width: 100%;
}
#product .product_details_title
{
	line-height: 30px;
}
#product .free_delivery
{
	background: #f5f5f5;
	margin-top: 53px;
}
#product .free_delivery span:last-child
{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
}
#product .free_delivery span:first-child
{
	display: inline-block;
	margin-right: 19px;
	font-size: 16px;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
}
#product .original_price
{
	font-weight: 500;
	color: #b9b4c7;
	text-decoration: line-through;
	line-height: 30px;
	margin-top: 21px;
}
#product .product_price
{
	display: inline-block;
	font-size: 24px;
	color: #000000;
	font-weight: 500;
	line-height: 30px;
	margin-top: 2px;
}
#product .star_rating
{
	display: inline-block;
	margin-left: 33px;
}
#product .star_rating li
{
	display: inline-block;
	margin-right: -2px;
	cursor: pointer;
}
#product .star_rating li i
{
	color: #fac451;
}
#product product_color
{
	margin-top: 27px;
}
#product .product_color ul
{
	display: inline-block;
	margin-left: 26px;
}
#product .product_color ul li
{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 29px;
	cursor: pointer;
}
#product .quantity
{
	width: 100%;
	height: 40px;
	margin-top: 23px;
}
#product .quantity_selector
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 132px;
	height: 100%;
	border: solid 1px #e5e5e5;
	margin-left: 29px;
}
#product .quantity_selector span
{
	font-weight: 500;
	color: #232530;
}
#product .plus,
.minus
{
	padding-left: 14px;
	padding-right: 14px;
	cursor: pointer;
}
#product .plus:hover,
.minus:hover
{
	color: #b5aec4;
}
#product .add_to_cart_button
{
	width: 160px;
	margin-left: 19px;
	font-size: 12px !important;
}



#product .tabs_section_container
{
	width: 100%;
	padding-bottom: 80px;
	border-bottom: solid 1px #ebebeb;
}
#product .tabs_container
{
	margin-top: 66px;
	margin-bottom: 66px;
}

#product .tab
{
	margin-right: 50px;
	cursor: pointer;
}
#product .tab:last-child
{
	margin-right: 0px;
}
#product .tab span
{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 500;
	color: #1e1e27;
}
#product .tab:hover span
{
	color: #b5aec4;
}
#product .tab.active span
{
	color: #000000;
	border-bottom: solid 1px #000000;
}
#product .tab_container
{
	width: 100%;
	display: none;
}
#product .tab_container.active
{
	display: block;
}


#product .additional_info_col p span
{
	margin-left: 22px;
}
#product .additional_info_title
{
	margin-bottom: 48px;
}


#product .reviews_title
{
	margin-bottom: 58px;
}
#product .user_review_container
{
	width: 100%;
	margin-bottom: 37px;
}
#product .reviews_col
{
	padding-right: 30px;
}
#product .user_pic
{
	width: 70px;
	height: 70px;
	background: #ebebeb;
	background-image : url(images/silouette.png);
	border-radius: 50%;
}
#product .user_rating .star_rating
{
	margin-left: 5px;
	margin-top: 13px;
}
#product .user_rating .star_rating li
{
	margin-right: -3px;
}
#product .user_rating .star_rating li i
{
	font-size: 12px;
}
#product .review
{
	padding-left: 30px;
}
#product .review_date
{
	color: #000000;
	margin-top: -4px;
}
#product .user_name
{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 18px;
}
#product .review p
{
	font-weight: 400;
}



#product .add_review
{
	margin-top: 94px;
}
#product #review_form > div
{
	margin-bottom: 40px;
}
#product #review_form div:nth-child(2) h1
{
	display: inline-block;
}
#product #review_form div:nth-child(2)
{
	margin-bottom: 20px;
}
#product #review_form > div:last-child
{
	margin-bottom: 0px;
}

#product .add_review h1
{
	font-size: 18px;
	font-weight: 500;
}
#product .form_input
{
	display: block;
	width: 100%;
	height: 50px;
	border: solid 1px #e5e5e5;
	padding-left: 20px;
}
#product .input_name
{
	margin-bottom: 19px;
	margin-top: 31px;
}
#product .input_review
{
	display: block;
	width: 100%;
	border: solid 1px #e5e5e5;
	margin-top: 23px;
	padding-left: 20px;
	padding-top: 13px;
}
#product .user_star_rating
{
	display: inline-block;
	margin-left: 18px;
}
#product .user_star_rating li
{
	display: inline-block;
	margin-right: -3px;
	cursor: pointer;
}
#product .user_star_rating li i
{
	color: #f5c136;
	font-size: 18px;
}
#product .review_submit_btn
{
	width: 170px;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}



#product .benefit
{
	margin-top: 74px;
}
#product .benefit_row
{
	padding-left: 15px;
	padding-right: 15px;
}
#product .benefit_col
{
	padding-left: 0px;
	padding-right: 0px;
}
#product .benefit_item
{
	height: 100px;
	background: #f3f3f3;
	border-right: solid 1px #FFFFFF;
	padding-left: 25px;
}
#product .benefit_col:last-child .benefit_item
{
	border-right: none;
}
#product .benefit_icon i
{
	font-size: 30px;
	color: #000000;
}
#product .benefit_content
{
	padding-left: 22px;
}
#product .benefit_content h6
{
	text-transform: uppercase;
	line-height: 18px;
	font-weight: 500;
	margin-bottom: 0px;
}

/* Previous Orders*/
#previous_orders tr:nth-child(even) {
    background-color: #f2f2f2
}

#previous_orders #account_panal
{
	margin-left:60%;
	
}

#previous_orders .td{
    width: 500px;
}
#previous_orders .tr{
    height: 50px;
}

#previous_orders .listItem{
    color: #000000;
    background: #EEEEEE;
    transition-property: all;
    transition-duration: 0.5s;
}
#previous_orders #order_table
{
	margin-left : 40%;
	margin-top:5%;
	position:absolute;

}
#previous_orders .listItem:hover{
    color: #FFFFFF;
    background-color: #000000;
}

#previous_orders .listItem a{
    color: #000000;
    transition-property: all;
    transition-duration: 0.5s;
    padding-left: 10px;
}
#previous_orders .listItem:hover a{
    color: #FFFFFF; 

}


/*Products */


#products .filter_button
{
	width: 100px;
	height: 30px;
	background: #1e1e27;
	text-align: center;
	margin-top: 25px;
	cursor: pointer;
	
}
#products .filter_button:hover
{
	background: #34343f;
}
#products .filter_button span
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
	color: #FFFFFF;
}

#products .product-item
{
	width: 200px;
	height: 340px;
	cursor: pointer;
}

#products .product
{
	width: 100%;
	height: 300px;
	border-right: solid 1px #e9e9e9;
}
#products .product_image
{
	width: 100%;
    height:220px;
    
}
#products .product_image img
{
	width: 100%;
    height:220px;
    
}
#products .product_info
{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
#products .product_name
{
	margin-top: 27px;
    font-size: 25px;
    font-family: 'Cookie', sans-serif;
}

#products .product_price
{
	font-size: 20px;
	color: #fe4c50;
	font-weight: 600;
    margin-top: 5%;
}


#products .add_to_cart_button
{
	width: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background: #000000;
	border-radius: 3px;
	
}
#products .add_to_cart_button a
{
	font-size: 14px;
	font-weight: 600;
    display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
	width: 100%;
}
#products .product-item:hover .add_to_cart_button
{
	visibility: visible;
	opacity: 1;
}

#products .column {
    float: left;
    width: 25%;
    display: none;
}

#products .rtcolumn{
    float: left;
    width: 25%;
    left:1%;
}

#products .row:after {
    width:100%;
    content: "";
    display: table;
    clear: both;
    
}
#products .table{
float:left;
  width: 75%;
}

#products .check_tag{
    display:inline;
}

#products .leftColumn { 

  width: 15%;
}

#products .dropdown {
    position: relative;
    display: inline-block;
   margin-bottom: 2%;
    margin-top: 0.5%;
    margin-left: 90%;
}

#products .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; 
    width: 100%; 
    padding: 0;
}

#products .dropdown:hover .dropdown-menu {
    display: block;
    z-index: 3;
}


#products .dropdown .drop-button {
    background: Red;
     color: #FFFFFF;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

#products .dropdown button{
   
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


#products .dropdown   li {
    display: block;
    padding: 0.4em 0.8em;
    text-decoration: none;
    background: #ffffff;
    color: #333333;
    font-size: 14px;
    
}

#products .dropdown li button{
    background: #ffffff;
    width:55px;
    font-family: 'cookies', sans-serif;
}



#products .dropdown li:hover {
    background: #BBBBBB;
}

#products .dropdown li:hover button {
    background: #BBBBBB;
}

#products .show{ display:block;}

#products .product-item::after
{
    display: block;
	position: absolute;
	top: 0;
	left: -1px;
	height: 100%;
    content:'';
	border: solid 2px rgba(235,235,235,0);
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

#products .product-item:hover::after
{
	box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
	border: solid 2px rgba(235,235,235,1);
}

/* Admin */


#admin img{
	opacity: .5;
}

#admin form{
	transition: all 4s ease-in-out;
}

#admin .login {
	width: 310px;
	margin-top: 18%;
	margin-left: 35%;
	opacity: .1;
}

#admin .login h3{
	text-align: center;
	position: relative;
	top :-200px;
	font-size: 24px;
	color: #969696;
	margin-top:20px;
    margin-bottom: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	transition: all 4s ease-in-out;
	margin-bottom: 25px;
}
#admin .login div {
	position: relative;
}
#admin  .in-left{
	left: -900px;
	transition: all 4s ease-in-out;
}
#admin .in-right{
	right: -900px;
	transition: all 4s ease-in-out;
}
#admin .inputs{
	position: relative;
	bottom: -400px;
	transition: all 4s ease-in-out;
}
#admin .login div i {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	color: #969696;
	right: 4px;
}
#admin  .login .inputt{
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-radius: 4px;
	height: 35px;
	font-size: 15px;
	border: 1px solid #ccc;
	margin: 7px 0px;
	padding: 5px;
	background-color: #dadada;
}
#admin .login .inputt:focus{
box-shadow: 0px 0px 3px  #337ab7;
}
#admin .login .inputs{
	box-sizing: border-box;
	display: block;
	margin: 7px 0px;
	width: 100%;
	border-radius: 4px;
	height: 35px;
	padding: 5px;
	font-size: 15px;
	border: 1px solid #ccc;
	background-color:#337ab7 ;
	color: white;
}
#admin .login .inputs:hover{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#admin .btn{
	padding: 10px 20px;
	background: #f4f4f2;
}

#admin .btn:hover{
	background: #e4e4e2;
}

#admin a.btn{
	text-align: center;
	text-decoration: none;
}
#admin .popupBody{
	top: 10%;
	position: absolute;
	padding: 20px;
	width: 40%;
	height: 70%;
}


#admin .EditPOP{
	top: 10%;
	right: 30%;
	position: absolute;
	padding: 0%;
	width: 40%;
	height: 90%;
	overflow: auto;
	display: block;
}

#admin pEdit{
	top: 10%;
	display: block;
	height: 30%;
}
#admin .pEdit label{
	right: 0%;
	display: block;
	margin-bottom: 5px;
}
#admin .pEdit input[type="text"]{
	display: block;
	width: 90%;
	padding: 10px;
	border: 1px solid #DDD;
	color: #666;
}
#admin .pEdit input[type="file"]{
	display: block;
	width: 90%;
	padding: 10px;
	height: auto;
	border: 1px solid #ddd;
}
#admin .ebtn{
	padding: 10px 20px;
	background: #f4f4f2;
}

#admin .ebtn:hover{
	background: #e4e4e2;
}

#admin a.ebtn{
	text-align: center;
	text-decoration: none;
}


#admin .ebtnAction{
	clear: both;
	overflow: hidden;
}

#admin .ebtnAction a{
	display: block;
}
#admin .ebtnLeft{
	width: 50%;
	display: block;
	float: left;
}

#admin .ebtnLeft.ebtnRight{
	width: 45%;
	margin-left: 5%;
}

#admin .pAdd{
	top: 10%;
	left: 10%;
	display: none;
	height: 110%;
	overflow-y: auto;
}
#admin .pAdd label{
	display: block;
	margin-bottom: 5px;
}
#admin .pAdd input[type="text"]{
	display: block;
	width: 90%;
	padding: 10px;
	border: 1px solid #DDD;
	color: #666;
}
#admin .pAdd input[type="file"]{
	display: block;
	width: 90%;
	padding: 10px;
	height: auto;
	border: 1px solid #ddd;
}

#admin .btnAction{
	clear: both;
	overflow: hidden;
}

#admin .btnAction a{
	display: block;
}
#admin .btnLeft{
	width: 50%;
	display: block;
	float: left;
}

#admin .btnLeft.btnRight{
	width: 45%;
	margin-left: 5%;
}



#admin .managetable{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
#admin .managetable td {
	border: 1px solid #c1c1c1;
	padding: 8px;
	font-size: 17px;
	font-weight: 400;
	display: none;
}
#admin .managetable tr{
	background-color: white;
}
#admin .managetable tr:first-child{
	background-color: #000000; 
	color: white;
}
#admin .managetable td a {
	width: 90px;
}

#admin .con {
    width: 1170px;
    margin: auto;
	box-sizing: border-box;
}
#admin .OFlow{
	margin-top: 0.5%;
	width: 1170px;
	height: 500px;
	margin: auto;
	box-sizing: border-box;
	/*overflow-y: scroll;*/
	
}
#admin .fbody{
	overflow: auto;
}
#admin .converttobtn{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 0px;
	border-radius: 4px;
	padding: 8px;
	box-sizing: border-box;
	transition: all 3s ease-in-out;
	}
	
#admin .BlueButton:hover{
	border: 1px solid #34495e ;
	background-color: #286090;
}
#admin .BlueButton{
	background-color: #337ab7;
}

#admin .AddBTN{
	background-color: #000000;
}
#admin .GreenButton{
	background-color: #5cb85c;
}
#admin .GreenButton:hover{
background-color: #449d44;
}
#admin .RedButton{
	background-color: #d9534f;
}
#admin .RedButton:hover{
	background-color: #c9302c;
}

#admin .tit{
	font-size: 45px;
	margin: 20px auto;
	text-align: center;
    color: white;
}

#admin .managetable tr:nth-child(even){
	background-color: #eee;
}
#admin .clear{
	clear: both;
}
#admin .handling1{
	margin: 20px 0px;
	position: relative;
	left: -150%;
	transition: all 3s ease-in-out;
}
#admin .handling2{
	margin: 20px 0px;
	position: relative;
	right: -150%;
	transition: all 3s ease-in-out;
}
#admin .quarter{
	width: 25%;
	box-sizing: border-box;
	float: left;
	padding: 0px 0px;
	position: relative;
}

#admin .quarter p{
	color:#FFFFFF;
	padding-bottom : 1em;
	padding-left:1em;
	font-weight: bold;
}

#admin .half{
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 0px 15px;
}

#admin .org{
	background-color: #e67e22;
}
#admin .vilot{
	background-color: #9b59b6;
}
#admin .sky{
	background-color: #3498db;
}
#admin .gray{
	background-color: #7f8c8d;
}
/*  Dashboard*/
#admin  #HoldBodyContent{
	margin-top: 7%;
}

#admin  .stat{
	text-align: center;
	font-size: 20px;
	box-sizing: border-box;
	padding: 15px 20px;
	border-radius: 25px 0px 25px 0px ;
	color: white;
	position: relative;
	display: none;
	transition: margin-top .4s ease-in-out
}
#admin  .stat:hover{
	margin-top: -5px;
}
#admin .stat div{
	margin-left: 30%;
}

#admin .stat i {
    position: absolute;
    font-size: 75px;
    left: 6%;
    top: 17%;
}
#admin .stat a{
	display: block;
	font-size: 50px;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
}
#admin .link{
	cursor: pointer;
}
#admin .Number{
	cursor: text;
	box-sizing: border-box;	
}
#admin .headpan{
	text-align: center;
	font-size: 17px;
	box-sizing: border-box;
	padding: 15px;
	background-color: #DDD;	
}

#admin .bodypan{
	text-align: center;
	font-size: 17px;
	box-sizing: border-box;
	background-color: white;	
}

#admin .latest-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
#admin .latest-list .latest-table{
	width: 100%;
	position: relative;
}
#admin .latest-list li{
	padding: 0px 5px;
}
#admin .latest-list li:nth-child(even) {
	background-color: #e4e1e1;
}
#admin .latest-list li:first-child{
	background-color: #34495e;
	color: white;	
}
#admin .latest-list .latest-table td{
	width: 25%;
	text-align: left;
	padding: 8px 0px;
}
#admin .latest-list .latest-table td a{
	display: block;
	width: 100%;
	text-decoration: none;
}

#admin .mnav{
    background-color:#000000;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

#admin .con:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#admin #OOflow{
	margin-top: 5%;
}

#admin .con {
    width: 1170px;
    margin: auto;
	box-sizing: border-box;
}
#admin .lnav{
	padding-left: 8px;
}

#admin .lul{
    padding: 0;
    list-style: none;
}
#admin .lul li {
	display: inline-block;
	margin: 10px 14px;
}

#admin  .lul li a{/*left ul il a*/
	display: block;
	color: #ddd;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
	font-size: 17px;
	line-height: 34px;
}
#admin .lul li a:hover{/*left ul il a*/
	color: white;
}


/* Header */


#header .signIn {
  width: 360px;
  padding: 8% 0 0;
  margin-left :38%;
  margin-top:-5%;
  display:none;
  position:absolute;
}
#header .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#header .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#header .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #000000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
#header .form button:hover,.form button:active,.form button:focus {
  background: #FE7C7F;
}
#header .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
#header .form .message a {
  color: #000000;
  text-decoration: none;
}


.header-two-bars{
	font:13px Arial, Helvetica, sans-serif;
}

.header-two-bars .header-limiter{
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}


.header-two-bars h1{
	padding-left : 29%;
	
	float: left;
	line-height: 40px;
	margin: 0;

}

.header-two-bars h1 span {
	color: #bc40df;
}
#header_logo 
{

	width : 40%;
	
}



/* The first bar */

.header-two-bars .header-first-bar{
	background-color:#ffffff;
	box-shadow:0 1px 1px #333;
	padding: 20px 40px;
	height: 100px;
	color: #000000;
	box-sizing: border-box;
}

.header-two-bars .header-first-bar a {
	color: #000000;
	text-decoration: none;
}

.header-two-bars .header-first-bar nav {
	font:14px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-two-bars .header-first-bar nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-two-bars .header-first-bar nav a:hover {
	opacity: 1;
}

.header-two-bars .header-first-bar nav a.selected {
	
	border-radius: 2px;
	background-color: #777777;
	padding: 8px 12px;
}

.header-two-bars .header-first-bar a.logout-button {
	font-size: 13px;
	font-weight: bold;
	float: right;
	border-radius: 3px;
	background-color: rgba(58, 60, 62, 0);
	height: 40px;
	padding: 0 20px;
	border: 1px solid #5E6367;
	line-height: 40px;
	box-sizing: border-box;
}


/* Second Bar */

.header-two-bars .header-second-bar {
	
	background-color: #000000;
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.05);
	padding: 20px 40px;
}

.header-two-bars .header-second-bar h2 {
	line-height: 20px;
	margin: 0;
	float: left;
}

.header-two-bars .header-second-bar h2 a {
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}

.header-two-bars .header-second-bar nav {
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.header-two-bars .header-second-bar nav a {
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
    animation: glow 1s infinite alternate;
}



@keyframes glow {
    to {
        text-shadow: 0 0 17px white;
    }
}


.header-two-bars .header-second-bar nav i.fa {
	color: #ffffff;
	margin: 0 0px 0 15px;
}


.navtop a{

	

	font: normal 25px Cookie, Arial, Helvetica, sans-serif;


}


/* Footer */

.footer-distributed{
	background-color: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-distributed .footer-right #site-map a{
	color:#FFFFFF;
	padding-left:10%;
	
}


.footer-distributed .footer-left{
	width: 30%;
	margin-left :3%;
}



#footer_logo 
{

	width : 50%;
	height: 60%;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	padding-left : 30px;
	margin: 0;
}
footer a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

footer p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 500;
	color: #51545f;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.footer-distributed .footer-company-name a{
	color:  #8f9296;


}



.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{

	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px ; 
	line-height: 38px;
}


.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}


.footer-distributed .footer-company-name a{
	color:  #8f9296;


}

/* Right */

.footer-distributed .footer-right{
	width: 20%;
	margin-left :10%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


 .banner .row {
   
    width:100%;
    content: "";
    display: table;
    clear: both;
    
}

/*Site Map */



#sitemap .row{
    display:table;
    width:100%;
}
#sitemap .column{
    width:25%;
    float:left;
    text-align: center;
}
#sitemap .column a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color:#000000;
    font-weight:700;
    
}

#sitemap .column h3:hover{
    transform:scale(1.5);
}
#sitemap .rowspan{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
	 margin-top:2%;
}


#sitemap h1{
  font-size:30px;
  
}